*{
    margin: 0;
    padding: 0;
}

div.app{
    width: 100%;
}

table, td{
    border :1px solid #333;
    border-collapse: collapse;
}

table{
    width: 100%;
    margin-top: 20px;
}

td, th{
    padding: 3px;
}

td{
    text-align: center;
}

thead, tfoot{
    background-color: #333;
    color: #fff;
}

td.center{
    text-align: center;
}

div.paging{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.paging > i, 
div.paging > div.pages > span{
    margin: 0 3px;
    cursor: pointer;
}

span.active{
    color: coral;
    font-weight: bold;
}